@charset "UTF-8";
main {
  flex: 1;
  margin-bottom: 70px;
}
main #contenedorLocales .cardLocales {
  background-color: rgba(134, 115, 115, 0.329);
  padding: 1rem;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto; /* Centra horizontalmente */
  width: 50%; /* Ajusta el ancho según tus preferencias */
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
main #contenedorLocales .cardLocales h1 {
  color: white;
}
main #contenedorLocales .cardLocales .boxFiltro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
  border-radius: 18px;
  background-color: rgb(61, 75, 73);
  border: 1px solid rgba(255, 255, 255, 0.125);
}
main #contenedorLocales .cardLocales .boxFiltro #localType {
  width: 180px;
  height: 30px;
  font-size: 1rem;
  margin: 5px;
}
main #contenedorLocales .cardLocales .boxFiltro #localSelect {
  width: 180px;
  font-size: 1rem;
  margin: 5px;
  height: 30px;
}
main #contenedorLocales .cardLocales .cardLocalesInfo {
  background-color: rgba(119, 119, 119, 0.479);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
main #contenedorLocales .cardLocales .cardLocalesInfo #nombreLocalInfo {
  color: rgb(180, 214, 230);
  font-size: 1.5rem;
}
main #contenedorLocales .cardLocales #formularioReserva {
  padding: 1rem;
}
main #contenedorLocales .cardLocales #formularioReserva input {
  font-size: 1rem;
  padding: 0.7rem;
}
main #comprobanteReserva {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  text-align: left;
}
main #comprobanteReserva h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}
main #comprobanteReserva p {
  font-size: 16px;
  color: #555;
  margin: 5px 0;
  padding-left: 1rem;
}
main #comprobanteReserva strong {
  font-weight: bold;
}

@media (max-width: 768px) {
  /* Estilos para pantallas más pequeñas */
  main {
    flex: 1;
    margin-bottom: 70px;
  }
  main #contenedorLocales .cardLocales {
    background-color: rgba(134, 115, 115, 0.329);
    padding: 1rem;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto; /* Centra horizontalmente */
    width: 95%; /* Ajusta el ancho según tus preferencias */
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
  main #contenedorLocales .cardLocales .boxFiltro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem;
    border-radius: 18px;
    background-color: rgb(33, 85, 78);
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
  main #contenedorLocales .cardLocales .boxFiltro #localType {
    width: 100%;
    font-size: 1rem;
  }
  main #contenedorLocales .cardLocales .boxFiltro #localSelect {
    width: 100%;
    font-size: 1rem;
  }
}

/*# sourceMappingURL=locales.css.map */
