@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap");
* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(circle farthest-corner at center center, #050141 0%, #44243d 100%);
  font-family: "Ubuntu", sans-serif;
}
body header {
  display: flex;
  align-items: center;
  background: linear-gradient(0deg, rgba(44, 44, 44, 0.1098039216) 0%, rgba(20, 58, 45, 0.6352941176) 80%);
  width: 100%;
  margin-bottom: 4rem;
  height: 50px;
  color: #c0c0c0;
  padding: 20px;
}
body header .navbar {
  display: flex;
  align-items: center;
}
body header .navbar .logo {
  color: rgb(192, 226, 40);
  font-style: italic;
  padding-right: 10px;
}
body header .navbar .navBoton {
  color: #c7c7c7;
  padding-left: 20px;
  padding-right: 20px;
}
body header .navbar input {
  width: 300px;
  font-size: 15px;
  height: 30px;
  background-color: rgb(250, 250, 250);
  padding-left: 15px;
  color: rgb(245, 105, 87);
  border-style: none;
  border-radius: 50px;
  outline: none;
}
body main {
  flex: 1;
  margin-bottom: 70px;
}
body main #portada-index #contenedor-index {
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 30px;
  background-color: rgba(243, 243, 243, 0.1019607843);
}
body main #portada-index #contenedor-index .h1-index {
  color: rgb(192, 226, 40);
  font-size: 2rem;
  text-align: left;
  font-family: "Ubuntu", sans-serif;
  padding: 2rem;
}
body main #portada-index #contenedor-index .h2-index,
body main #portada-index #contenedor-index .h3-index {
  font-size: 1rem;
  color: rgb(167, 101, 197);
  text-align: left;
  font-family: "Ubuntu", sans-serif;
  padding-left: 2rem;
  padding-right: 20rem;
}
body main #portada-index #contenedor-boton-index {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
body main #portada-index #contenedor-boton-index .botonTarea,
body main #portada-index #contenedor-boton-index .botonServi {
  width: 200px;
  height: 30px;
  font-size: 0.8rem;
  margin: 1rem;
  font-family: "Ubuntu", sans-serif;
  border-radius: 10px;
}
body main section #h1-horarios,
body main section #h2-horarios {
  color: rgb(50, 163, 88);
  text-align: center;
  margin: 0.5rem;
  font-family: "Ubuntu", sans-serif;
}
body main section #contenedor-horarios {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
body main section #contenedor-horarios table {
  width: 40%;
  border-collapse: collapse;
  margin-top: 20px;
}
body main section #contenedor-horarios table th,
body main section #contenedor-horarios table td {
  border: 0px solid #ccc;
  padding: 10px;
  text-align: center;
}
body main section #contenedor-horarios table th {
  background-color: #525151;
}
body main section #contenedor-horarios #titulo-horarios {
  font-family: "Ubuntu", sans-serif;
  width: 25%;
  text-align: right;
  color: rgb(252, 146, 7);
}
body main section #contenedor-horarios #horas {
  font-style: italic;
  width: 37.5%;
  text-align: left;
  font-family: "Ubuntu", sans-serif;
  color: rgb(211, 7, 7);
}
body main section #contenedor-horarios #dias {
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  text-align: left;
  color: rgb(211, 7, 7);
}
body #footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, rgba(32, 32, 32, 0.5607843137) 70%, rgba(70, 70, 70, 0.0196078431) 90%);
  text-align: center;
  padding: 0.1rem;
}
body #footer p {
  color: rgb(250, 250, 250);
  font-family: "Ubuntu", sans-serif;
  font-size: 0.8rem;
}

/*# sourceMappingURL=style.css.map */
