@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap");

//variables colores
$borde-width: 10px;
$transition-time: 0.5s;

* {
  list-style: none;
  margin: 0;
}
body {
  background-color: black;
  header {
    // HEADER
    background-color: black;
    width: 100%;
    p {
      color: orange;
    }
    nav {
      display: flex;
      align-items: center;
      font-family: "Ubuntu", sans-serif;
      margin-top: 2rem;
      a {
        text-decoration: none;
        margin: 1rem;
        color: rgb(255, 81, 0);
      }
      .logo {
        color: #cfcece;
        font-size: 1.5rem;
      }
    }
  }

  main {
    section {
      margin: 20px;
      border: 1px solid #ccc;
      padding: 20px;
      border-radius: 5px;
      #h1-index {
        color: rgb(247, 26, 26);
        font-size: 3rem;
        text-align: center;
        font-family: "Ubuntu", sans-serif;
      }
      #h2-index,
      #h3-index,
      #h1-horarios,
      #h2-horarios {
        color: rgb(50, 163, 88);
        text-align: center;
        margin: 0.5rem;
        font-family: "Ubuntu", sans-serif;
      }
      input {
        width: 600px;
        font-size: 20px;
        height: 40px;
        background-color: rgba(160, 159, 159, 0.301);
        padding-left: 15px;
        color: rgb(191, 218, 209);
        border-width: $borde-width;
        border-style: solid;
        border-radius: 10px;
        border-color: #030303;
        outline: none;
      }
      input:focus {
        border-color: #f15b04; // Color del borde cuando el input está enfocado
        transition: $transition-time;
      }

      #contenedor-index {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      #contenedor-boton-index {
        display: flex;
        align-items: center;
        justify-content: center;
        button {
          width: 200px;
          height: 30px;
          font-size: 0.8rem;
          margin: 1rem;
          font-family: "Ubuntu", sans-serif;
        }
      }
      #contenedor-horarios {
        display: flex;
        align-items: center;
        justify-content: center;
        table {
          width: 40%;
          border-collapse: collapse;
          margin-top: 20px;
          th,
          td {
            border: 0px solid #ccc;
            padding: 10px;
            text-align: center;
          }
          th {
            background-color: #d62417;

          }
        }

        #titulo-horarios {
          font-family: "Ubuntu", sans-serif;
          width: 25%;
          text-align: right;
        }
        color: white;
        #horas {
          font-style: italic;
          width: 37.5%;
          text-align: left;
          font-family: "Ubuntu", sans-serif;

        }
        #dias {
          font-weight: bold;
          font-family: "Ubuntu", sans-serif;
          text-align: left;

        }
      }
    }
  }
  footer {
    p {
      color: rgb(112, 112, 112);
      text-align: center;
      font-family: "Ubuntu", sans-serif;
    }
  }
}
