@import 'header';
@import 'footer';
@import 'locales';
@import 'horarios';
@import 'index';
@import 'nosotros';
@import 'contacto';

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap");

//variables colores
$transition-time: 0.5s;

* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  background: radial-gradient(
    circle farthest-corner at center center,
    #050141 0%,
    #44243d 100%
    
  );
  font-family: "Ubuntu", sans-serif;
}
